extends layout

block main
  #tableID
    div
      h1 Contacts
    if contacts === undefined || contacts.length === 0
      table
        h2 You don't have any contacts. Why not add one? 
          a.button(href=`/contacts/new`) New Contact 
            i.fa.fa-address-card-o
    else
      table.table-list(data-currentpage='1')
        thead
          th
            button.sort(type='button' data-sort='firstname')
              | First Name
              i.caret
          th
            button.sort(type='button' data-sort='lastname')
              | Last Name
              i.caret
          th
            button.sort(type='button' data-sort='birthday')
              | Birthday
              i.caret
          th
            p.sort
              | Action
              i.caret
        // IMPORTANT, class="list" must be on tbody
        tbody.list
          each contact in contacts
            tr
              td.minify.firstname=contact.firstname
              td.minify.lastname=contact.lastname
              td.minify.birthday=contact.birthday.toDateString().split(' ').slice(1).join(' ')
              td.minify.setting
                form
                  button.button(formaction=`/contacts/${contact.id}/edit` formmethod='get') Edit 
                    i.fa.fa-edit
                  button.bell(formaction=`/contacts/${contact.id}/reminder` formmethod='get')
                    i.fa.fa-bell
                  button.remove-item-btn(type='submit' formmethod='post' formaction=`/contacts/${contact.id}/destroy` onclick="return confirm('Are you sure you want to delete this contact?')")
                      i.fa.fa-trash
                      
          tfoot
            tr
              td.table-footer(colspan='3')
                .table-pagination
                  button.btn-tablepage.jTablePagePrev(type='button') &laquo;
                  ul.pagination
                  button.btn-tablepage.jTablePageNext(type='button') &raquo;
                .table-filter
                  input.search(placeholder='Search ')
                td
                  a.button(href=`/contacts/new`) New Contact 
                    i.fa.fa-address-card-o

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
  script.
      var pagingRows = 5;

      var paginationOptions = {
          innerWindow: 1,
          left: 0,
          right: 0
      };
      var options = {
        valueNames: [ 'firstname', 'lastname', 'birthday' ],
        page: pagingRows,
        pagination: true
      };

      var tableList = new List('tableID', options);

      $('.jTablePageNext').on('click', function(){
          var list = $('.pagination').find('li');
          $.each(list, function(position, element){
              if($(element).is('.active')){
                  $(list[position+1]).trigger('click');
              }
          })
      })
      $('.jTablePagePrev').on('click', function(){
          var list = $('.pagination').find('li');
          $.each(list, function(position, element){
              if($(element).is('.active')){
                  $(list[position-1]).trigger('click');
              }
          })
      })




  