extends layout
block main
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  style.
    body {
      background-color:#333;
    }
    .nav-tabs .nav-link.active {
      color: white;
      background-color: #333;
      border-bottom: 1px solid #ff5274
    }
    .nav-tabs .nav-link {
      border: 0px solid transparent;
      color: white;
    }

    .nav-tabs {
      border-bottom: 0px solid #dee2e6;
      
    }

    .nav-link.active:hover {
      color: #fab9b9;
    }
    .nav-link:hover{
      color: #fab9b9;
    }

    .btn.btn-cancel, .btn.btn-submit {
      font-size: 12px;
    }

    form ul li p {
      color: white;
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
    .centerTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a:hover {
      text-decoration: none;
    }
  ul#myTab.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#sectionA' data-toggle='tab') Default Reminders
    li.nav-item
      a.nav-link(href='#sectionB' data-toggle='tab') Change Password
    li.nav-item
      a.nav-link(href='#sectionC' data-toggle='tab') Delete Account
  .tab-content
    #sectionA.tab-pane.fade.show.active
      .profile-body
        .profile-reminder.tab
          ul#myTab.nav.nav-tabs
            li.nav-item
              a.nav-link.active(href='#sectionD' data-toggle='tab') Family
            li.nav-item
              a.nav-link(href='#sectionE' data-toggle='tab') Friend
            li.nav-item
              a.nav-link(href='#sectionF' data-toggle='tab') Co-Worker
            li.nav-item
              a.nav-link(href='#sectionG' data-toggle='tab') Acquaintance
            li.nav-item
              a.nav-link(href='#sectionH' data-toggle='tab') Other
            li.nav-item
              a.nav-link(href='#sectionI' data-toggle='tab' style='color: #cf2245;;') Reset all contacts
          .tab-content
            #sectionD.tab-pane.fade.show.active
              h1 Set Default: Family
              form#add-contact-form(action=`/setting/preferenceFamily` method="post")
                ul
                  li.reminderchoice
                    input#dayReminderFamily(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayreminderfamily) )
                    label(for='dayReminderFamily') 
                      span
                      | 1 Day reminder
                    input#weekReminderFamily(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekreminderfamily))
                    label(for='weekReminderFamily') 
                      span
                      | 7 Day reminder              
                    input#monthReminderFamily(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthreminderfamily))
                    label(for='monthReminderFamily') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save')
                  a.btn.btn-cancel(href='/contacts') Cancel
            #sectionE.tab-pane.fade
              h1 Set Default: Friend
              form#add-contact-form(action=`/setting/preferenceFriend` method="post")
                ul
                  li.reminderchoice
                    input#dayReminderFriend(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayreminderfriend) )
                    label(for='dayReminderFriend') 
                      span
                      | 1 Day reminder
                    input#weekReminderFriend(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekreminderfriend))
                    label(for='weekReminderFriend') 
                      span
                      | 7 Day reminder              
                    input#monthReminderFriend(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthreminderfriend))
                    label(for='monthReminderFriend') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save')
                  a.btn.btn-cancel(href='/contacts') Cancel
            #sectionF.tab-pane.fade
              h1 Set Default: Co-Worker
              form#add-contact-form(action=`/setting/preferenceCoWorker` method="post")
                ul
                  li.reminderchoice
                    input#dayReminderCoWorker(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayremindercoworker) )
                    label(for='dayReminderCoWorker') 
                      span
                      | 1 Day reminder
                    input#weekReminderCoWorker(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekremindercoworker))
                    label(for='weekReminderCoWorker') 
                      span
                      | 7 Day reminder              
                    input#monthReminderCoWorker(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthremindercoworker))
                    label(for='monthReminderCoWorker') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save')
                  a.btn.btn-cancel(href='/contacts') Cancel
            #sectionG.tab-pane.fade
              h1 Set Default: Acquaintance
              form#add-contact-form(action=`/setting/preferenceAcquaintance` method="post")
                ul
                  li.reminderchoice
                    input#dayReminderAcquaintance(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayreminderacquaintance) )
                    label(for='dayReminderAcquaintance') 
                      span
                      | 1 Day reminder
                    input#weekReminderAcquaintance(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekreminderacquaintance))
                    label(for='weekReminderAcquaintance') 
                      span
                      | 7 Day reminder              
                    input#monthReminderAcquaintance(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthreminderacquaintance))
                    label(for='monthReminderAcquaintance') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save')
                  a.btn.btn-cancel(href='/contacts') Cancel
            #sectionH.tab-pane.fade
              h1 Set Default: Other
              form#add-contact-form(action=`/setting/preferenceOther` method="post")
                ul
                  li.reminderchoice
                    input#dayReminderOther(type='checkbox' name='day' value='true' checked=JSON.parse(userInfo.dayreminderother) )
                    label(for='dayReminderOther') 
                      span
                      | 1 Day reminder
                    input#weekReminderOther(type='checkbox' name='week' value='true' checked=JSON.parse(userInfo.weekreminderother))
                    label(for='weekReminderOther') 
                      span
                      | 7 Day reminder              
                    input#monthReminderOther(type='checkbox' name='month' value='true' checked=JSON.parse(userInfo.monthreminderother))
                    label(for='monthReminderOther') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save')
                  a.btn.btn-cancel(href='/contacts') Cancel
            #sectionI.tab-pane.fade
              h1 Resets All Current Contacts
              form#add-contact-form(action=`/setting/preferenceAll` method="post")
                ul
                  li.reminderchoice
                    input#dayReminder(type='checkbox' name='day' value='true')
                    label(for='dayReminder') 
                      span
                      | 1 Day reminder
                    input#weekReminder(type='checkbox' name='week' value='true')
                    label(for='weekReminder') 
                      span
                      | 7 Day reminder              
                    input#monthReminder(type='checkbox' name='month' value='true')
                    label(for='monthReminder') 
                      span
                      | 30 Day reminder
                fieldset.reminderbuttons 
                  input.btn.btn-submit(type='submit' value='Save' onclick="return confirm('Are you sure you set all current contacts to these settings? This cannot be undone')")
                  a.btn.btn-cancel(href='/contacts') Cancel


    #sectionB.tab-pane.fade
      h1 Change Password
      form(action=`/password-reset` method="post")
        ul
          li
            p Enter Current Password
          li
            input(type="password" name="currentPassword" placeholder='Current Password' value=currentPassword required='')
          li
            p Enter New Password
          li
            input(type="password" name="newPassword" placeholder='New Password' style='margin-right:1px;' value=newPassword required='')
            input(type="password" name="newPasswordConfirm" placeholder='Confirm New Password' value=newPasswordConfirm required='')
          li
            a.btn.btn-cancel(href='/contacts' style='margin-right:1px;') Cancel
            input.btn.btn-submit(type='submit' value='Change Password')
    #sectionC.tab-pane.fade
        h1 Delete Account
        form.centerTitle(action=`/account-delete` method="post")
          ul
            li(style="justify-content: flex-start;")
              p Enter Username
            li
              input(type="text" name="username" placeholder='Username' required='')
            li(style="justify-content: flex-start;")
              p Enter Password
            li 
              input(type="password" name="password" placeholder='Password' required='')
            li
              input#acknowledge(type='checkbox' name='acknowledge' )
              label(for='acknowledge' style='cursor: pointer;') 
                span
                | Yes I want to delete my account
          fieldset.reminderbuttons 
            input.btn.btn-submit(type='submit' value='DELETE ACCOUNT' style='background-color: #ad4f4f9b')
            a.btn.btn-cancel(href='/contacts' style='background-color: #4f6fad;') Cancel
            

  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script.

    $(".nav ul li").click(function() {
    $(this)
      .addClass("active")
      .siblings()
      .removeClass("active");
    });

    const tabBtn = document.querySelectorAll(".nav ul li");
    const tab = document.querySelectorAll(".tab");

    function tabs(panelIndex) {
      tab.forEach(function(node) {
        node.style.display = "none";
      });
      tab[panelIndex].style.display = "block";
    }

    tabs(0);

    $(document).ready(function(){
      $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
      localStorage.setItem('activeTab', $(e.target).attr('href'));
      });
      var activeTab = localStorage.getItem('activeTab');
      if(activeTab){
      $('#myTab a[href="' + activeTab + '"]').tab('show');
      }
    });
    

