extend layout

block main
	header
		h2 Editing Contact: '#{contact.firstname} #{contact.lastname}'
		ul
			form(action=`/contacts/${contact.id}/edit` method="post")
				dt
					dd
						input(type="text"
									name="firstName"
									value=contact.firstname)
						input(type="text"
									name="lastName"
									value=contact.lastname)
						input(type="text"
									name="phoneNumber"
									value=contact.phonenumber)
						select(type="text" id="category" name="category" )
							option(value=contact.category default='')= contact.category
							option(value='Friend') Friend
							option(value='Family') Family
							option(value='Co-Worker') Co-Worker
							option(value='Acquaintance') Acquaintance
							option(value='Other') Other
						input#date.form-control(name="birthday" 
																		type='text' 
																		onfocus="(this.type='date')" 
																		onblur="(this.type='text')"
																		value=contact.birthday.toDateString()
																		placeholder='Select date'
																		min='1900-01-01' 
																		max= `${new Date().toISOString().split('T')[0]}`
																		)
				fieldset    
					button.button(type="submit" value="Save" ) Save
					button.cancelButton(formaction="/contacts" formmethod="get") Cancel

