extends layout

block main
	head
		title Edit Contact
	.container
		.row.header(style='text-align: center;')
			h2.addcontact
				small 
				| #{contact.firstname} #{contact.lastname}
		.row.body
			form#add-contact-form(action=`/contacts/${contact.id}/edit` method="post")
				ul
					li
						p
							label(for='firstname')
								| First name 
								span.req *
							input(type="text"
										name="firstName"
										value=`${contact.firstname}`)
						p
							label(for='lastname')
								| Last name 
								span.req *
							input(type="text"
										name="lastName"
										value=`${contact.lastname}`)
						p
							label(for='phoneNumber')
								| Phone Number
								span.req *
							input(type="text"
										name="phoneNumber"
										value=`${contact.phonenumber}`)
						p
							label(for='birthday') Birthday
								span.req *
							input(name="birthday" 
										type='text' 
										onfocus="(this.type='date')" 
										aria-labelledby='dateformat'
										value=`${contact.birthday.toLocaleDateString()}`
										placeholder= contact.birthday.toLocaleDateString()
										min='1900-01-01' 
										max= `${new Date().toISOString().split('T')[0]}`
										)
						p
							label(for='dob') Relationship 
							select(type="text" id="category" name="category" )
								option(value=contact.category default='')= contact.category
								option(value='Friend') Friend
								option(value='Family') Family
								option(value='Co-Worker') Co-Worker
								option(value='Acquaintance') Acquaintance
								option(value='Other') Other
					li
						a.btn.btn-cancel(href='/contacts') Cancel
						input.btn.btn-submit(type='submit' value='Submit')