extends layout

block main
  head
    title Add Contact
  .container
    .row.header(style='text-align: center;')
      h2.addcontact ADD CONTACT
    .row.body
      form#add-contact-form(action="/contacts/new" method="post")
        ul
          li
            p
              label(for='firstname')
                | First name 
                span.req *
              input(type="text"
                name="firstName"
                placeholder='John'
                required="true"
                value=firstName)
            p.pull-center
              label(for='lastname')
                | Last name 
                span.req *
              input(type="text"
                    name="lastName"
                    placeholder='Smith'
                    required="true"
                    value=lastName)
            p
              label(for='phoneNumber')
                | Phone Number
                span.req *
              input(type="text"
                name="phoneNumber"
                required="true"
                placeholder='123-456-7890'
                value=phoneNumber)
          li
            p
              label(for='birthday') Birthday
                span.req *
              input(name="birthday" 
                    type='text' 
                    onfocus="(this.type='date')" 
                    placeholder='mm-dd-yyyy'
                    min='1922-01-01' 
                    max= `${new Date().toISOString().split('T')[0]}`
                    required="true"
                    )
            p.pull-center
              label(for='dob') Relationship 
              select(type="text" id="category" name="category" required="" )
                option(value='Other') Other
                option(value='Friend') Friend
                option(value='Family') Family
                option(value='Co-Worker') Co-Worker
                option(value='Acquaintance') Acquaintance
          li
            a.btn.btn-cancel(href='/contacts') Cancel
            input.btn.btn-submit(type='submit' value='Submit')