extends layout

block main
  .container
    .row.header
      ul
        h2.addcontact Birthday Notification: #{contact.firstname} #{contact.lastname}
        if user.testreminder === true
          .row.body
            form#add-contact-form(action=`/contacts/${contact.id}/sendTestReminder` method="post") 
              ul
                li
                  label Single use:
                    button(type="submit" value="Save") Send Email Reminder 
                      i.fa.fa-send
        form#add-contact-form(action=`/contacts/${contact.id}/setReminder` method="post")
          ul
            li
              input(type='checkbox' name='day' value='true' checked=JSON.parse(contact.dayreminder) )
              label(for='dayReminder') 1 Day reminder
              input(type='checkbox' name='week' value='true' checked=JSON.parse(contact.weekreminder))
              label(for='weekReminder') 7 Day reminder
              input(type='checkbox' name='month' value='true' checked=JSON.parse(contact.monthreminder))
              label(for='monthReminder') 30 Day reminder
          fieldset    
            button.btn.btn-submit(type="submit" value="Save" ) Save 
              i.fa.fa-save
            a.btn.btn-cancel(href='/contacts') Cancel
