extends layout

block main
  .container
    .row.header
      ul(style='text-align: center;')
        h2.addcontact Birthday Notification: 
        h2 #{contact.firstname} #{contact.lastname}
        form#add-contact-form(action=`/contacts/${contact.id}/setReminder` method="post")
          ul
            li.reminderchoice
              input#dayReminder(type='checkbox' name='day' value='true' checked=JSON.parse(contact.dayreminder) )
              label(for='dayReminder') 
                span
                | 1 Day reminder
              input#weekReminder(type='checkbox' name='week' value='true' checked=JSON.parse(contact.weekreminder))
              label(for='weekReminder') 
                span
                | 7 Day reminder
              input#monthReminder(type='checkbox' name='month' value='true' checked=JSON.parse(contact.monthreminder))
              label(for='monthReminder') 
                span
                | 30 Day reminder
          fieldset.reminderbuttons    
            input.btn.btn-submit(type='submit' value='Save')
            a.btn.btn-cancel(href='/contacts') Cancel
        if user.testreminder === true
          form.reminderbuttons(action=`/contacts/${contact.id}/sendTestReminder` method="post") 
            input.btn.btn-submit(type="submit" value="Send a test reminder")


